<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
  .footer {
  background-color: #065f46;  /* هم‌رنگ navbar */
  color: #ffffff;             /* متن سفید */
  font-size: 0.9rem;
}

.footer a {
  color: #facc15;  /* لینک‌ها زرد */
  text-decoration: none;
}

.footer a:hover {
  color: #5ef3a6;  /* هاور سبز روشن */
}
 </style>
</head>
<body>
  <footer class="footer mt-5">
  <div class="container text-center py-3">
    <p class="mb-1">© 2025 E-Government Portal. All rights reserved.</p>
    <p class="mb-0">Made by Yasira Mohammadi</p>
  </div>
</footer>
</body>
</html>